-- MySQL dump 10.13  Distrib 5.6.12, for Win64 (x86_64)
--
-- Host: 192.168.2.2    Database: cemex
-- ------------------------------------------------------
-- Server version	5.5.15

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `psper`
--

DROP TABLE IF EXISTS `psper`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `psper` (
  `ERER` char(3) DEFAULT NULL,
  `ERCETN` char(12) DEFAULT NULL,
  `ERSSNO` char(12) DEFAULT NULL,
  `ERPBNO` char(12) DEFAULT NULL,
  `ERPHNO` char(12) DEFAULT NULL,
  `ERMTX` char(3) DEFAULT NULL,
  `ERBTCM` char(3) DEFAULT NULL,
  `ERDRSS` char(5) DEFAULT NULL,
  `ERDRGS` char(5) DEFAULT NULL,
  `ERDRHI` char(5) DEFAULT NULL,
  `ERDRPG` char(5) DEFAULT NULL,
  `ERDRTX` char(5) DEFAULT NULL,
  `ERDRUD` char(5) DEFAULT NULL,
  `ERPBGP` decimal(5,2) DEFAULT NULL,
  `ERPBGA` decimal(9,2) DEFAULT NULL,
  `ERIRBN` char(5) DEFAULT NULL,
  `ERBNTL` char(5) DEFAULT NULL,
  `ERRINI` char(5) DEFAULT NULL,
  `ERUDN1` decimal(9,2) DEFAULT NULL,
  `ERUDN2` decimal(9,2) DEFAULT NULL,
  `ERUDN3` decimal(9,2) DEFAULT NULL,
  `ERUDN4` decimal(9,2) DEFAULT NULL,
  `ERUDN5` decimal(8,2) DEFAULT NULL,
  `ERUDN6` decimal(8,2) DEFAULT NULL,
  `ERUDN7` decimal(12,2) DEFAULT NULL,
  `ERUDN8` decimal(12,2) DEFAULT NULL,
  `ERUDN9` decimal(12,2) DEFAULT NULL,
  `ERUDA1` char(5) DEFAULT NULL,
  `ERUDA2` char(5) DEFAULT NULL,
  `ERUDA3` char(5) DEFAULT NULL,
  `ERUDA4` char(12) DEFAULT NULL,
  `ERUDA5` char(12) DEFAULT NULL,
  `ERUDA6` char(12) DEFAULT NULL,
  `ERUDA7` char(20) DEFAULT NULL,
  `ERUDA8` char(20) DEFAULT NULL,
  `ERUDA9` char(20) DEFAULT NULL,
  `ERPBRP` decimal(5,2) DEFAULT NULL,
  `ERPBGX` decimal(9,2) DEFAULT NULL,
  `ERDREC` char(5) DEFAULT NULL,
  `ER13TH` char(5) DEFAULT NULL,
  `EROTBN` char(5) DEFAULT NULL,
  `ERSOFC` char(5) DEFAULT NULL,
  `ERRBSL` char(5) DEFAULT NULL,
  `ERREPN` char(5) DEFAULT NULL,
  `ERTRAN` char(5) DEFAULT NULL,
  `ERCOLA` char(5) DEFAULT NULL,
  `ERFHAL` char(5) DEFAULT NULL,
  `EROTRG` char(5) DEFAULT NULL,
  `ERCOMM` char(5) DEFAULT NULL,
  `ERPRSH` char(5) DEFAULT NULL,
  `ERFEES` char(5) DEFAULT NULL,
  `ERTX13` char(5) DEFAULT NULL,
  `ERTXOB` char(5) DEFAULT NULL,
  `ERHZPY` char(5) DEFAULT NULL,
  `ERSUOT` char(5) DEFAULT NULL,
  `ERPHHI` char(5) DEFAULT NULL,
  `ERUSR1` char(5) DEFAULT NULL,
  `ERUSR2` char(5) DEFAULT NULL,
  `ERUSR3` char(5) DEFAULT NULL,
  `ERUSR4` char(5) DEFAULT NULL,
  `ERLIM` decimal(9,2) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `psper`
--

LOCK TABLES `psper` WRITE;
/*!40000 ALTER TABLE `psper` DISABLE KEYS */;
/*!40000 ALTER TABLE `psper` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2013-11-27 16:05:07
